# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# Environment files
.env
secrets/

# Trained models and ML artifacts
ml/trained_models/
*.joblib
*.model

# Firebase keys
**/firebase-service-account*.json

# OS files
.DS_Store
Thumbs.db

app/core/firebase_key.json

ml/**/trained/*.pkl

# ML models
app/ml/**/models/
app/ml/**/trained/

# HuggingFace / Transformers
*.safetensors
*.bin
*.joblib
*.pt
*.onnx

ml/member2_chatbot/models/emotion_model/config.json
ml/member2_chatbot/models/emotion_model/model.safetensors
ml/member2_chatbot/models/emotion_model/special_tokens_map.json
ml/member2_chatbot/models/emotion_model/tokenizer_config.json
ml/member2_chatbot/models/emotion_model/vocab.txt
ml/member2_chatbot/models/emotion_model/tokenizer.json